html {
    font-family: 'Open Sans', sans-serif;
    font-size: x-small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

section {
    position: relative;
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #76b8cb;
}

section .loginMenu {
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    width: 8%;
    flex-direction: column;
    height: 95%;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 20px;
}

section .loginMenu .principalButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    height: 70%;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 50px;
}

section .loginMenu .secondaryButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 20%;
    align-items: center;
    padding-right: 20px;
}

section .loginMenu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #2c7488;
    display: block;
}
  
