html {
    font-family: 'Open Sans', sans-serif;
    font-size: x-small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

section {
    position: relative;
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #76b8cb;
}